body{
    overflow-x: hidden;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 9999;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.close:hover {
    color: red;
}

#filterForm label {
    display: block;
    margin-top: 10px;
}

#filterForm input, #filterForm select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

#filterForm button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

#filterForm button:hover {
    background-color: darkgreen;
}
